body{
	background-color: rgba(227, 221, 221, 0.7);
}
.wrapper{
	margin-left: 400px;
	border-radius: 10px;
	box-shadow: 0 0 10px 0 #000;
	width: 400px;
}
.wrap{
	padding: 40px 30px;
	font-family: poppins;
}
.button{
	padding-left: 130px;
	padding-bottom: 30px;
}
.sidenav {
  z-index: 1;
  transition: 0.5s;
}

a {
  width: 300px;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
a:hover {
  color: #8B0000;
}

.sidenav .closebtn {
  position: absolute;
  font-size: 36px;
  margin-left: 300px;
   margin-top: -55px;
}
@media screen and (max-height: 450px) {
  .wrapper {padding-top: 15px;}
  .wrapper .sidenav a {font-size: 18px;}
}